* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto';
    color: #3C3C3C;
}

a {
    color: #ffffff;
}

.languages {
    background-color: #F3F4EF;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.header, a {
    color: #666666;
    text-decoration: none;
    padding: 0 .25rem;
}

header {
    background-color: #779882;
}

.fa-bars {
    color: #000000;
    font-size: 3rem;
    padding: 1rem;
}

.fa-circle {
    color: #000000;
    font-size: 3rem;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

h1, h2 {
    color: #ffffff;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.75rem;
    font-family: 'Roboto-light';
}

.overskrift {
    background-color: #779882;
    padding: 2rem;
    margin-top: -.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.one {
    background-color: #F3F4EF;
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.one h3 {
    padding-bottom: 4rem;
}

h3 {
    font-size: 2.5rem;
}

.two h3 {
    padding-bottom: 3rem;
}

.tilmeld {
    background-color: #425348;
    padding: 4rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

h4 {
    color: #ffffff;
    font-size: 2rem;
}

input {
    border-radius: 1rem;
    border-style: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cta {
    background-color: #779882;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.two {
    background-color: #ffffff;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #425348;
    color: #ffffff;
    font-size: 1.75rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: 6rem;
    padding-top: 2rem;
}